*/rawData
/processed
/figures
/video
*/__pycache__
*.gif
*.jpg
*.jpeg
*.png
*.mp4
*.zip
*.h5
*.pyc
*/radical-main
*/rover-main/rover-main/docs
*/rover-main/rover-main/lidar
*/rover-main/rover-main/processing